._2ketD>div>footer {
  width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: auto;
}


._2TcK4 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
._2TcK4 {
  background-color: #474747;
  color: #fff;
  padding: 1.5rem 1rem;
}
._2cF5E {
  margin: 0 auto;
  max-width: 1066px;
}
div {
  display: block;
}
._9cgJE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
._3WCKP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  margin: 0 2rem 0 0;
  padding: 0;
  width: 100%;
}
._3WCKP ._3WCKP {
  margin: 0;
}
.h1-like:first-child, .h2-like:first-child, .h3-like:first-child, .h4-like:first-child, .h5-like:first-child, .h6-like:first-child, .p-like:first-child, blockquote:first-child, dl:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, ol:first-child, p:first-child, pre:first-child, ul:first-child {
  margin-top: 0;
}

._3WCKP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  margin: 0 2rem 0 0;
  padding: 0;
  width: 100%;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.p-like, blockquote, caption, details, dl, figure, label, ol, p, pre, td, textarea, th, ul {
  margin-top: .75em;
  margin-bottom: 0;
  line-height: 1.5;
}
ol, ul {
  padding-left: 2em;
}
._1qFBk {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 1px solid #a8b4c0;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
}
._3TyPP {
  margin-bottom: 1rem;
}
._2hEW9 {
  border-bottom: 1px solid #a8b4c0;
  border-top: 1px solid #a8b4c0;
  list-style-type: none;
  margin: 2rem 0 1rem;
  padding: 1rem;
  text-align: center;
}
._2hArU {
  white-space: pre;
}
._1de9x {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
._1-1SA {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
._1JqBX, ._1JqBX a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
._1JqBX {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
._3klmW {
  margin-right: 1rem;
}
._1JqBX, ._1JqBX a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.link, .link-like, a {
  color: #4183d7;
  -webkit-transition: all,.3s;
  transition: all,.3s;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
}
a, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a {
  text-decoration: none;
}
a {
  color: #333;
}
a {
  background-color: transparent;
}
._3WCKP a, ._3WCKP a:hover {
  color: #fff;
}
.trackable{
  color: #ffffff;
  font-size: 13px;
}
._1qFBk{
  color: white;
  font-size: 14px;
  font-family: "Open Sans";

}
._1JqBX, ._1JqBX a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

._1JqBX {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.kcRM9._1eo84 {
  width: 2.4rem;
  min-width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
}
._3Wx6b {
  display: inline-block;
}
._3k87M {
  margin-right: 1rem;
}
svg:not(:root) {
  overflow: hidden;
}

.kcRM9._2HAhZ, .kcRM9:hover>svg, .kcRM9>svg {
  height: 100%;
  width: 100%;
}
._21dth.kcRM9>svg path {
  fill: #fff;
}
.statsb, .statsa {
  border-radius: 8px;
  background-color: #ffffff;
  width: 43%;
  padding: 30px;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.main_post_home{
  background-color: #7f7f7f;
}
.tt{
  margin: 0 0 5px;
  padding: 20px;
  max-width: 300px;
  min-width: 256px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  -ms-border-radius: .25em;
  border-radius: .25em;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: #ff7f04;
  border: 1px solid #b75900;
}

.cg-itm:active{
  background-color: #2e6bff;
}
