body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.modal-dialog.cascading-modal {
  margin: auto;
  margin-top:10%;
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.modal-dialog .modal-content {
  border: 0;
  border-radius: .125rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: .3rem;
  outline: 0;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1.5rem 1rem 0 1rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.light-blue.darken-3 {
  background-color: #0277bd !important;
}
.md-tabs {
  position: relative;
  z-index: 1;
  padding: .7rem;
  margin-right: 1rem;
  margin-bottom: -20px;
  margin-left: 1rem;
  background-color: #2bbbad;
  border: 0;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.light-blue {
  background-color: #03a9f4 !important;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav li {
  list-style: none;
}
.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
  text-align: center;
}
.md-tabs .nav-link {
  color: #fff;
  border: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link {
  display: block;

}
a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
element.style {

  -webkit-transform: scale(5.91) translate(0,0);
  -moz-transform: scale(5.91) translate(0,0);
  -ms-transform: scale(5.91) translate(0,0);
  -o-transform: scale(5.91) translate(0,0);
  transform: scale(5.91) translate(0,0);
  opacity: 1;
  -webkit-transition-duration: 750ms;
  -moz-transition-duration: 750ms;
  -o-transition-duration: 750ms;
  transition-duration: 750ms;
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255,255,255,0.4);
  background: radial-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0.3) 40%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 70%);
}
.waves-effect .waves-ripple {
  position: absolute;
  width: 100px;
  height: 100px;

  pointer-events: none;
  background: rgba(0,0,0,0.2);
  background: radial-gradient(rgba(0,0,0,0.2) 0,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.5) 60%,rgba(255,255,255,0) 70%);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition-property: -webkit-transform,opacity;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: scale(0) translate(0,0);
  transform: scale(0) translate(0,0);
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.nav-tabs .nav-item {

}
.nav li {
  list-style: none;
}
.waves-effect {

  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
  text-align: center;
}
.md-tabs .nav-link {
  color: #fff;
  border: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link {
  display: block;

}

.md-tabs .nav-item+.nav-item {
  margin-left: 0;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
.nav li {
  list-style: none;
}
.waves-effect {

  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
  text-align: center;
}
.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  border-radius: .25rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.md-tabs .nav-link {
  color: #fff;
  border: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}
.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.mm{
  margin-left:9em;
}


.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 0.3em;
  background-color: #f2f2f2;
}

*[role="form"] h2 {
  font-family: 'Open Sans' , sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.navbar-laravel
{
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
  font-family: Raleway, sans-serif;
}

.my-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.my-form .row
{
  margin-left: 0;
  margin-right: 0;
}

.login-form
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.login-form .row
{
  margin-left: 0;
  margin-right: 0;
}
.login-popup form .form-group.sign_up {
  text-align: center;
  font-weight: normal;
}

.login-popup form .form-group {
  padding: 12px;
}
.login-popup form .form-group.sign_up div {
  display: inline-block;
}
.login-popup form .form-group.sign_up a {
  color: #1d72db;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.login-popup form .form-group.sign_up {
  text-align: center;
  font-weight: normal;
}
.login-popup form .form-group {
  padding: 12px;
}
.radio.inline, .checkbox.inline {
  display: inline-block;
  padding-top: 2px;

  vertical-align: middle;
}

.radio, .checkbox, .text {
  min-height: 20px;

  font-weight: normal;
}
label {
  display: block;

  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}
label, input, button, select, textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
#name {
  margin-top: 6px;
}

.input-icon input {
  padding-left: 10px !important;
}
.no-margin {
  margin: 0;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

label, input, button, select, textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.relative {
  position: relative;
}
.relative {
  position: relative;
}
.relative {
  position: relative;
}
.fonticon-user:before {
  content: '\e803';
}
[class^="fonticon-"]:before, [class*=" fonticon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
