._1wSdk, ._1wSdk ._1rjhB {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

._1wSdk, ._1wSdk ._1rjhB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
._1wSdk {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
._1wSdk .tdmkO {
  font-weight: 600;
}
._3iQ0i .l17WS ._3ZZS7 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

._3iQ0i .l17WS ._3ZZS7 {
  display: none;
  padding-right: 1.6rem;
  white-space: nowrap;
}
._1wSdk, ._1wSdk ._1rjhB {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

._1wSdk, ._1wSdk ._1rjhB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._2u1ti {
  display: none!important;
}
._1wSdk, ._1wSdk ._1rjhB {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

._1wSdk, ._1wSdk ._1rjhB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
._1wSdk ._1_IRP._2FLbM {
  display: inline-block;
  vertical-align: middle;
  padding-right: .8rem;
  font-weight: 600;
}

._1wSdk ._1_IRP {
  white-space: nowrap;
}
._1wSdk {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
._2BJZq {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 2.6rem;
  cursor: pointer;
  min-height: 3rem;
  margin: 0 1rem 0 0;
}

a, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.btn, button, input, label, select {
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}
.p-like, blockquote, caption, details, dl, figure, label, ol, p, pre, td, textarea, th, ul {
  margin-top: .75em;
  margin-bottom: 0;
  line-height: 1.5;
}
._2BJZq ._1SRTJ {
  font-size: 1.4rem;
  color: #1a1a1a;
}
._1wSdk ._1_IRP._2FLbM ._1JFGS {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  color: #ff6e14;
}
._1wSdk ._1_IRP._2FLbM ._1JFGS {
  display: none;
}
._2BJZq input:checked~.R3YOB {
  background-color: #f56b2a;
  -webkit-box-shadow: none;
  box-shadow: none;
}

._2BJZq .R3YOB {
  position: absolute;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 2px #a8b4c0;
  box-shadow: inset 0 0 0 2px #a8b4c0;
}
._2BJZq input:checked~.R3YOB:after {
  display: block;
}
._2BJZq .R3YOB:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
._1wSdk ._1_IRP._2FLbM ._1JFGS {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  color: #ff6e14;
}

._1wSdk ._1_IRP._2FLbM ._1JFGS {
  display: none;
}

 .li-filters-container{
   height: 48px;
 }
#listing_top_save_search, #listing_bottom_save_search{
  width: 322px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
  line-height: 40px;
}
#listing_bottom_save_search{
  width: 100% !important;
  margin: 0;
}
.save-search-icon{
  font-size: 17px;
  color: #4a4a4a;
  font-weight: 500;
  display: inline;
  top: 3px;
  position: relative;
}
.save-search-text{
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #4a4a4a;
  text-transform: uppercase;
}
#listing_select_order{
  display: flex;
}
.filter-date, .filter-price{
  width: 52px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff;
  display: block;
}
.ri-time-fill, .ri-time-line, .ri-price-tag-3-fill, .ri-price-tag-3-line{
  color: #2d2d2d;
  font-size: 18px;
  position: relative;
  top: 5px;
  color: #9b9b9b;
  font-weight: normal;
}
.filter-date-text, .filter-price-text{
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #9b9b9b;
}
.filter-active, .filter-inactive:hover{
  color: #2d2d2d !important;
}
.filter-no-pointer, .nav-tabs-basic > .active > a{
  pointer-events: none !important;
}
.nav-tabs-basic > li > a {
  box-shadow: none;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: normal;
  color: #666666;
  text-transform: uppercase;
  background: none !important;
  border: none !important;
  height: 48px !important;
}

#listing_tabs > li.active > a::before {
  content: '';
  display: block;
  position: absolute;
  top: 46px;
  width: 70%;
  left: 15%;
  border-bottom: 2px solid #2e6bff;
}
li.active > a {
  color: #2e6bff;
  letter-spacing: 1.0px;
  font-weight: 500;
}
.nav-tabs-basic > li > a:hover, .nav-tabs-basic > li > a:focus {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #2d2d2d;
}
#listing_tabs{
  height: 48px;
  border-radius: 8px;
  background: white;
  border-bottom: none !important;
}
#listing_tabs li > a {
  padding: 12px 0 0 !important;
  max-width: 216px;
}
.pagination {
  height: 56px;
  border-radius: 8px;
  background-color: #ffffff;
}
.pagination ul > li > a{
  border: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2e6bff;
  margin: 10px 6px;
  padding: 0px 10px;
}
.pagination-arrows{
  font-size: 24px;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus {
  background: #f8f8f8;
  color: #414141;
  border-radius: 4px;
}
.pagination ul > .active > a{
  border-radius: 4px !important;
  background-color: #2e6bff;
  color: white;
  pointer-events: none !important;
  font-weight: normal;
}
div#gallery{
  border: none;
  background: unset;
  width: 304px !important;
}
.galleryApp{
  font-family: unset;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  margin-top: 16px;
}
#gallery .gallery-title{
  background: white;
  color: #f56b2a;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
}

#gallery .gallery-title::before {
  content: '';
  display: block;
  position: relative;
  top: 46px;
  width: 70%;
  left: 15%;

  border-bottom: 2px solid #f56b2a;
}
#gallery #gallery-item {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 14px;
  margin-top: 17px;
  border-radius: 8px;
  background-color: #ffffff;
}
#gallery .gallery-item-img {
  max-width: 100%;
  margin-bottom: 10px;
  height: 171px;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#gallery #gallery-item p {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  padding: 0 0 0 12px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
#gallery #gallery-item .gallery-item-price {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2d2d;
  padding: 10px;
}
#gallery .gallery-box {
  width: 100%;
}
#gallery #gallery-item:hover {
  opacity: unset;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.095);
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}
#gallery > div.gallery-box > div > div{
  border-radius: 8px;
}

.bottom_ai_subheading{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  width: 50%;
  margin: 0 auto;
}
.bottom_ai_heading{
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}
.bottom_ai_cta:hover{
  background-color: #20804C;
}
.bottom_ai_cta{
  width: 247px;
  height: 40px;
  border-radius: 4px;
  background-color: #29a160;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.05px;
  text-transform: uppercase;
}
.bottom_ai_icon{
  display: inline;
  font-size: 20px;
  position: relative;
  top: 4px;
  line-height: 1.5;
}
.alert {
  padding: 12px 35px 12px 66px;
  position: relative;
  margin: 22px 0px 13px 0;
  background-color: #c43232;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 22px;
  overflow: hidden;
  font-size: 16px;
  border: none;
}
.breadcrumb > li{
  text-shadow: none;
}
.fonticon-home{
  color: #4a4a4a;
}
.ri-rocket-fill:hover{
  background-color: #2e6bff;
  color: #eaf0ff;
}
.ri-lightbulb-fill:hover{
  background-color: #f5a623;
  color: #fef6e9;
}
.ri-store-2-fill:hover{
  background-color: #fc942d;
  color: #feead5;
}


 .sponsored-post {
                               background-color: #fff;
                               font-family: sans-serif;
                               padding: 0;
                               border: none;
                               border-radius: 8px;
                               height: 110px;

                             }
 .advertiser {
                               position: absolute;
                               float: unset;
                               margin-top: unset;
                               padding-right: unset;
                               margin-left: unset;
                               width: unset;
                               text-align: unset;
                               font-size: 12px;
                               font-size: 14px;
                               font-weight: normal;
                               font-stretch: normal;
                               font-style: normal;
                               line-height: normal;
                               letter-spacing: normal;
                               color: #4a4a4a;
                               font-family: Rubik;
                               bottom: 8px;
                               left: 154px;

                             }
.attribution {
                               color: #fff;
                               display: inline-block;
                               background-color: #ffc14c;
                               border-radius: 12px;
                               padding: 2px 6px;
                               margin-top: 15px;
                               font-family: Rubik;
                               font-size: 12px;
                               font-weight: normal;
                               font-stretch: normal;
                               font-style: normal;
                               line-height: normal;
                               letter-spacing: normal;
                               color: #ffffff;
                               text-transform: uppercase;
                               position: absolute;
                               right: 14px;
                               bottom: 10px;

                             }
.thumbnail {
                               width: unset;
                               height: unset;
                               float: unset;
                               margin: unset;
                               background-size: cover;
                               padding: unset;
                               border: unset;
                               border-radius: 8px;

                             }
.content h1{
                               position: absolute;
                               left: 154px;
                               bottom: 65px;
                               font-family: Rubik;
                               font-size: 16px;
                               font-weight: normal;
                               font-stretch: normal;
                               font-style: normal;
                               line-height: normal;
                               letter-spacing: normal;
                               color: #4a4a4a;

                             }
.content p{
                               position: absolute;
                               left: 154px;
                               bottom: 43px;
                               font-family: Rubik;
                               font-size: 12px;
                               font-weight: normal;
                               font-stretch: normal;
                               font-style: normal;
                               line-height: normal;
                               letter-spacing: normal;
                               color: #666666;

                             }
.thumbnail:hover{
                               box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.095);
                               text-decoration: none;
                               transition: 0.25s ease-in-out;
                               -webkit-transition: 0.25s ease-in-out;
                               -moz-transition: 0.25s ease-in-out;
                               -o-transition: 0.25s ease-in-out;
                             }
.thumbnail img{
                               width: 144px;
                               height: 120px;
                               object-fit: cover;
                               border-bottom-left-radius: 8px;
                               border-top-left-radius: 8px;

                             }

.nav-tabs-3 li{
  width: 33%;
}

.wrap{
  background-color: #e9ecef;
}
 .panel-heading-rev{
   padding: 0px 10px;
   font-size: 24px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #2d2d2d;
 }
.linkshelf td {
  background: #fff !important;
  width: 144px;
  height: 82px;
  border-radius: 8px;
  margin: 7px !important;
  padding: 8px 4px 5px 4px;
  transition-duration: 0.25s;
  transition-property: transform, box-shadow;
  position: relative;
  min-height: 82px;
}
.linkshelf td:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #2e6bff !important;
  transform: translateY(-3px);
}

table td[class*="span"], table th[class*="span"], .row-fluid table td[class*="span"], .row-fluid table th[class*="span"] {
  float: left;
}
.categories-text, td .fs12 {
  font-size: 14px;

  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #666666;
  text-transform: uppercase;


  left: 6px;
  font-weight: normal;

  position: relative;

  width: 136px;
  display: -webkit-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.categories-icon{
  font-size: 37px;
  color: #eaf0ff;
  position: absolute;
  bottom: 14px;
  right: 8px;


}
td .fs12{
  position: absolute;
  bottom: 10px;
  left: 10px;


}
.cg-toggle{
  cursor: pointer;
  font-size: 14px;
  color: #666666;
  line-height: 2.5;
  text-transform: uppercase;
  font-weight: 500;
  float: right;

}
.icon-up, .icon-down{
  display: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: 3px;
}
.nav-fill{
  background-color: #e9ecef;
  list-style: circle;
  color: black;

}
.nav_it {
  display: block;
}
.active{
  text-decoration: #2e6bff;
  background-color: white;
  color : black;
}
._1wSdk ._3mUDW {
  -webkit-flex-basis: initial;
  -ms-flex-preferred-size: initial;
  flex-basis: auto;
  width: 17.5rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17.5rem;
  -ms-flex: 0 0 17.5rem;
  flex: 0 0 17.5rem;
  margin-top: 0;
}

._1wSdk ._3mUDW {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-top: .5rem;
}
._1Gifm {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #fff;
  border: 1px solid #cad1d9;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
}
._2BDI7 {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  line-height: 1.2rem;
  z-index: 2;
}
.kcRM9._3U56w {
  width: 1.4rem;
  min-width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4rem;
}

._3Wx6b {
  display: inline-block;
}
svg:not(:root) {
  overflow: hidden;
}

.kcRM9._2HAhZ, .kcRM9:hover>svg, .kcRM9>svg {
  height: 100%;
  width: 100%;
}
._4VqoG.kcRM9>svg path {
  fill: #cad1d9;
}
._2NL49 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
._2NL49 select {
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border: none;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

a, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
button, input, optgroup, select, textarea {
  color: #1a1a1a;
}
.btn, button, input, label, select {
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.nav-link{
  color: black;
}
.nav-link:active{
  color: white;
}
.nav-link:hover{


}
.cg-title, .seo-lp-heading {
  text-align: start;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin-bottom: 4px;
}
.cg-subtitle {
  text-align: start;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.seo-lp-list {
  list-style: none;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  background: white;
  display: flex;
  flex-wrap: wrap;
}
.seo-lp-item {
  margin: 2px;
  line-height: 24px;
  font-size: 16px;
}

.seo-lp-anchor {
  padding: 5px 18px;
  display: inline-flex;
  line-height: inherit;
  background-color: #fff;
  overflow: hidden;
  border-radius: 14px;
  border: solid 1px #9b9b9b;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.zz:visited {
  text-decoration: none;
}
zz:link {
  text-decoration: none;
}

zz:visited {
  text-decoration: none;
}
zz:link {
  text-decoration: none;
}
.zz:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);

  transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -o-transform: translateY(-7px);

  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  background-color: #2e6bff;
  color: white;
}
.h{
  height: 20px;
}
.active{
  background-color: #2e6bff;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
  margin: 30px 0 30px 0;

}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;

}

#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}


#ads .card-detail-badge {
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}



#ads .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}

#ads .card-image-overlay {
  font-size: 20px;

}


#ads .card-image-overlay span {
  display: inline-block;
}


#ads .ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #e6de08;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #000;
  overflow: hidden;
  position: relative;
  background-color: #e6de08;
}

#ads .ad-btn:hover {
  background-color: #e6de08;
  color: #1e1717;
  border: 2px solid #e6de08;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

#ads .ad-title h5 {
  text-transform: uppercase;
  font-size: 18px;
}
